workflows/churn_alert.json
{
  "name": "ChurnRadar B2B Alert Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [ 0, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/predict",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "customer_id", "value": "CUST_DEMO_001" },
            { "name": "total_subs", "value": "3" },
            { "name": "avg_mobile_revenue", "value": "50.0" },
            { "name": "avg_fix_revenue", "value": "20.0" },
            { "name": "total_revenue", "value": "70.0" },
            { "name": "arpu", "value": "23.3" },
            { "name": "active_subscribers", "value": "2" },
            { "name": "not_active_subscribers", "value": "1" },
            { "name": "crm_segment", "value": "VIP" },
            { "name": "effective_segment", "value": "Business" }
          ]
        },
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 200, 300 ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.churn_prediction }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF Churn Prediction",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 400, 300 ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "message": [
            {
              "role": "system",
              "content": "당신은 B2B 통신사 이탈 방어 전문가입니다. 데이터(고객ID, 확률, 위험도, 손실액)를 보고 영업 담당자가 즉각 조치할 수 있는 짧은 대응 시나리오를 작성해주세요."
            },
            {
              "role": "user",
              "content": "=고객ID: {{ $json.customer_id }}\n이탈 확률: {{ $json.churn_probability }}\n위험도: {{ $json.risk_level }}\n예상 손실액: {{ $json.expected_revenue_loss }} BGN"
            }
          ]
        }
      },
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [ 600, 280 ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('HTTP Request').item.json.risk_level }}",
              "value2": "HIGH"
            }
          ]
        }
      },
      "name": "IF Risk Level HIGH",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 800, 280 ]
    },
    {
      "parameters": {
        "channel": "#churn-alert-high",
        "text": "=🚨 [HIGH RISK] 이탈 경보\n\n고객 ID: {{ $('HTTP Request').item.json.customer_id }}\n이탈 확률: {{ $('HTTP Request').item.json.churn_probability }}\n예상 손실액: {{ $('HTTP Request').item.json.expected_revenue_loss }} BGN\n\n💡 GPT 대응 시나리오:\n{{ $json.choices[0].message.content }}"
      },
      "name": "Slack (HIGH)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [ 1000, 180 ]
    },
    {
      "parameters": {
        "channel": "#churn-alert",
        "text": "=⚠️ [MEDIUM/LOW RISK] 이탈 경보\n\n고객 ID: {{ $('HTTP Request').item.json.customer_id }}\n이탈 확률: {{ $('HTTP Request').item.json.churn_probability }}\n\n💡 GPT 대응 시나리오:\n{{ $json.choices[0].message.content }}"
      },
      "name": "Slack (FALSE)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [ 1000, 380 ]
    },
    {
      "parameters": {
        "sendTo": "sales@baza-telecom.com",
        "subject": "=🚨 [긴급] 핵심 고객 이탈 경보 ({{ $('HTTP Request').item.json.customer_id }})",
        "message": "=담당자님,\n\n아래 고객의 이탈 위험이 매우 높습니다. 즉각적인 개입이 필요합니다.\n\n고객 ID: {{ $('HTTP Request').item.json.customer_id }}\n이탈 확률: {{ $('HTTP Request').item.json.churn_probability }}\n예상 매출 손실: {{ $('HTTP Request').item.json.expected_revenue_loss }} BGN\n\n[전문가 제언]\n{{ $('OpenAI Chat').item.json.choices[0].message.content }}\n\n조치 후 Google Sheets에 결과를 기록해주세요."
      },
      "name": "Gmail (HIGH)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [ 1200, 80 ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "INSERT_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "churn_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "customer_id": "={{ $('HTTP Request').item.json.customer_id }}",
            "churn_probability": "={{ $('HTTP Request').item.json.churn_probability }}",
            "risk_level": "={{ $('HTTP Request').item.json.risk_level }}",
            "expected_revenue_loss": "={{ $('HTTP Request').item.json.expected_revenue_loss }}",
            "gpt_message": "={{ $('OpenAI Chat').item.json.choices[0].message.content }}",
            "action_taken": "",
            "result": ""
          }
        }
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [ 1200, 280 ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [ [ { "node": "HTTP Request", "type": "main", "index": 0 } ] ]
    },
    "HTTP Request": {
      "main": [ [ { "node": "IF Churn Prediction", "type": "main", "index": 0 } ] ]
    },
    "IF Churn Prediction": {
      "main": [ [ { "node": "OpenAI Chat", "type": "main", "index": 0 } ] ]
    },
    "OpenAI Chat": {
      "main": [ [ { "node": "IF Risk Level HIGH", "type": "main", "index": 0 } ] ]
    },
    "IF Risk Level HIGH": {
      "main": [
        [
          { "node": "Slack (HIGH)", "type": "main", "index": 0 },
          { "node": "Google Sheets", "type": "main", "index": 0 }
        ],
        [
          { "node": "Slack (FALSE)", "type": "main", "index": 0 },
          { "node": "Google Sheets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Slack (HIGH)": {
      "main": [ [ { "node": "Gmail (HIGH)", "type": "main", "index": 0 } ] ]
    }
  }
}
